# Compiler files
cache/

# Dotenv file
.env

# IDE
.idea

# OS Specific
.DS_STORE

# Soldeer dependencies
dependencies/

node_modules/
broadcast/

# Publishing
# This should mirror the `files` from package.json
out/*/*
!out/StakedMonad.sol/*
!out/SplitterFactory.sol/*
!out/Splitter.sol/Splitter.json
out/*/31337*.json
